<div class="container-fluid">

<div id="welcome" class="d-flex justify-content-center ">
  <div class="row">
  <div class="col-12" >
  <h1 id="title" *ngIf="loggedInUser"> Welcome back {{loggedInUser.firstname}} !</h1>
  <h1 id="title" *ngIf="!loggedInUser"> Welcome to Barter !</h1>
  <h3 *ngIf="!loggedInUser" style="text-align: center;">Your friendly skills exchange!</h3>
</div>
</div>
</div>
<hr>


 <app-taskdash *ngIf="loggedIn()"></app-taskdash>

  <div class="container-fluid">
  <div class="row">
    <div class="col-6" >
      <canvasjs-chart [options]="skillsAvailable" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart> <br>
    </div>
    <div class="col-6 ">
      <canvasjs-chart [options]="numberOfTasks" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    </div>
</div>
</div>
</div>
<br>
<hr>
<div class="container-fluid ">
  <div class="row">
    <div class="col-2 " >
      <h3 class="d-flex justify-content-center" >Barter Bee Awards</h3>
        <img src="assets/images/award.png" width="300"
        height="300" style="text-align: left; background-color: #fbc912;" alt=""> <br> <br>

        <img src="assets/images/award2.png" width="300"
        height="300" style="text-align: left; background-color: #fbc912;" alt=""> <br> <br>

        <img src="assets/images/award3.png" width="300"
        height="300" style="background-color: #fbc912;" alt=""> <br>
    </div>
    <div class="col-8 testBorder myBox" >
      <div>
  <app-post></app-post>
</div>
</div>
<div class="col-2 " >
  <img src="assets/images/farmersonlyAd.png" width="300"
  height="300"alt=""><br><br>
  <img src="assets/images/electricianAd.png" width="300"
  height="300"alt="">
</div>
</div>
</div>





