<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="profilePic" src="{{ user.imageURL }}" alt="profile picture">
    </div>
    <div class="col-md-8">
      <h2>{{ user.username }} <img class="ranking" src="../../../assets/images/platinum.png" alt="ranking"></h2>
      <p>{{ user.firstname }} {{ user.lastname }}</p>
      <p>Bio: {{ user.biography }}</p>

      <h5>Contact Information</h5>
      <p>{{ user.phone }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Availability: {{ user.availability }}</p>

      <h3>Tasks:</h3>
      <ul>
        <li *ngFor="let task of user.tasks">{{ task.name }}</li>
      </ul>

      <div *ngIf="user.userSkills">
        <h3 *ngIf="user.userSkills">Certifications:</h3>
        <ul>
          <li *ngFor="let userSkill of user.userSkills">{{ userSkill.certification }}</li>
        </ul>

      </div>
      <h3>Skills:</h3>
      <ul>
        <li *ngFor="let userSkill of user.userSkills">
          {{ userSkill.skill.name }} ({{ userSkill.skillLevel.name }})
        </li>
      </ul>



      <h3>Friends:</h3>
      <ul>
        <li *ngFor="let userFriend of user.friends">{{ userFriend.username }}</li>
      </ul>

      <h3>Add Skills:</h3>
      <form>
        <div class="form-group">
          <label for="skills">Skill:</label>
          <select class="form-control" [(ngModel)]="newUserSkill.skill.id" name="skills" id="skills">
            <option *ngFor="let skill of skills" value="{{ skill.id }}">{{ skill.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="skill-levels">Skill Level:</label>
          <select class="form-control" [(ngModel)]="newUserSkill.skillLevel.id" name="skill-levels" id="skill-levels">
            <option *ngFor="let skillLevel of skillLevels" value="{{ skillLevel.id }}">{{ skillLevel.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="certification">Certification:</label>
          <input type="text" class="form-control" name="certification" [(ngModel)]="newUserSkill.certification">
        </div>

        <button type="submit" class="btn btn-primary" (click)="createUserSkill(newUserSkill)">Add Skill</button>
      </form>
    </div>
  </div>
</div>
