<div class="container-fluid">
  <h2>my accepted tasks</h2>
  <div class="row" *ngIf="!selectedAcceptedTask">
  <div *ngFor="let aTask of acceptedTasks" class="borderBox col-4 p-3">
    <p *ngIf="checkVerifiedTask(aTask)">this task is awaiting a rating and comments!</p>
    <h3>{{getTaskName(aTask)}}</h3>
    <p>rating by requestor: {{aTask.ratingByRequestor}}</p>
    <p>rating by acceptor: {{aTask.ratingByAcceptor}}</p>
    <p>remarks by requestor: {{aTask.remarksByRequestor}}</p>
    <p>remarks by acceptor: {{aTask.remarksByAcceptor}}</p>
    <p>accept date: {{aTask.acceptDate | date: 'shortDate'}}</p>

        <div class="col-12 text-align-center">

          <button *ngIf="checkVerifiedTask(aTask)" (click)='selectAcceptedTask(aTask)' class="btn btn-dark m-1" type="button">update</button>
        </div>
      </div>
      </div>

      <div class="row borderBox col-12 p-3" *ngIf="selectedAcceptedTask">
        <h3>{{selectedTask?.name}}</h3>
        <form>
          <label>My rating on this task: </label>
          <input type="number" id="requestorRating" name="requestorRating" [(ngModel)]="selectedAcceptedTask.ratingByRequestor"/>
          <label>My comments on this task: </label>
          <input type="text" id="requestorRemarks" name="requestorRemarks" [(ngModel)]="selectedAcceptedTask.remarksByRequestor"/><br>
          <button class="btn btn-dark" (click)="update(selectedAcceptedTask)">submit rating and comment</button>
          <button class="btn btn-dark" (click)="selectedAcceptedTask=null; selectedTask=null">cancel</button>
        </form>
      </div>
      </div>


