<h1>Register</h1>
<form >

    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" [(ngModel)]="newUser.username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" [(ngModel)]="newUser.password">
    </div>
    <!-- <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" [(ngModel)]="newUser.email">
    </div> -->
    <!-- <div>
      <label for="bio">Bio:</label>
      <input type="text" name="bio" id="bio" [(ngModel)]="newUser.biography">
    </div> -->
    <div>
      <label for="fname">First Name:</label>
      <input type="text" name="fname" id="fname" [(ngModel)]="newUser.firstname">
    </div>
    <div>
      <label for="lname">Last Name:</label>
      <input type="text" name="lname" id="lname" [(ngModel)]="newUser.lastname">
    </div>
    <div>
      <label for="profile pic">Profile Picture:</label>
      <input type="text" name="profilepic" id="profile pic" [(ngModel)]="newUser.imageURL">
    </div>
    <div>
      <label for="profile pic">Phone:</label>
      <input type="text" name="profilepic" id="profile pic" [(ngModel)]="newUser.phone">
    </div>

    <!-- <div>
      <label for="street">Street:</label>
      <input type="text" name="street" id="street" [(ngModel)]="newUser.address.street">
    </div>
    <div>
      <label for="city">City:</label>
      <input type="text" name="city" id="city" [(ngModel)]="newUser.address.city">
    </div>
    <div>
      <label for="state">State:</label>
      <input type="text" name="state" id="state" [(ngModel)]="newUser.address.state">
    </div>
    <div>
      <label for="zip">Zip:</label>
      <input type="text" name="zip" id="zip" [(ngModel)]="newUser.address.zip">
    </div> -->

  <div>




    <ul>
      <li *ngFor="let userSkill of newUser.userSkills">
        {{ userSkill.certification }}
        <span *ngIf="userSkill.skill"> - {{ userSkill.skill.name }}</span>
      </li>
    </ul>
  </div>



    <button (click)="register(newUser)">Submit</button>


</form>
