<h1>{{title}}</h1>

<div id="complaintList" *ngIf="loggedInUser?.role === admin">
  <div ">
    <Table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Subject</th>
          <th>Description</th>
          <th>User</th>
          <th>Submittal Date</th>
          <th>Update Date</th>
          <th>ClosedDate</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comp of complaints">
          <td>{{comp.id}}</td>
          <td>{{comp.name}}</td>
          <td>{{comp.description}}</td>
          <td >
            <ul>
              <li>Name: {{comp.user.}}</li>
              <li>Name: {{}}</li>
              <li>Name: {{}}</li>
              <li>Name: {{}}</li>
            </ul>
          </td>
          <td>{{comp.createDate}}</td>
          <td>{{comp.updateDate}}</td>
          <td>{{comp.closedDate}}</td>
          <td>{{comp.active}}</td>
        </tr>
      </tbody>
    </Table>
  </div>

</div>
