/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/*colors*/
/*BACKGROUND darkgray, #33333*/
/*TEXT #222222*/
/*LINK #D2691E*/

html {
  line-height: 1.6;
  background-image: linear-gradient( #333333, #555555);
}

body {
  background-color: #333333;
  padding:1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mochiy Pop P One',sans-serif;
}

a {
  color: #D2691E;
}

td {
  padding-left: 1.5em;
}

/*default stying for boxes in components*/
div {
  background-color: #ffffff;
  color:#222222;
}

/* TESTING STYLES */
.test {
  font-weight: bold;
  border:1px dotted red;
}

.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding:.5em;
  background-color: rgb(222, 212, 19);

}

.miniProfilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding:.25em;
  background-color: rgb(222, 212, 19);

}

.ranking {
  width: 50px;
  height: 50px;
}
