#mainHeader {
  border-radius: 0px;
  background-image: url('../../../assets/images/barterheader.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#mainHeader div {
  background-color: transparent;
}

#mainHeader h1 {
  font-size: 4em;
  color: #fbc912;
  text-shadow:2px 2px #222222;
}

img {
  max-width:180px;
}
