<h1 id="dashId">my task dashboard</h1>
<div class="container-fluid">
  <nav class="row">
    <div class="col-12">
      <button (click)= "dashboard = 'all'" class="btn btn-outline-dark m-1">view all</button>
      <button (click)= "dashboard = 'accepted'" class="btn btn-outline-dark m-1">view tasks I have accepted</button>
      <button (click)= "dashboard = 'offered'" class="btn btn-outline-dark m-1">view my tasks</button>
    </div>
   </nav>
  <div class="row">
    <div class="col-12 myBox" *ngIf="dashboard==='all' || dashboard==='accepted'" >
      <!-- accpeted task list -->
      <app-accepted-task >
      </app-accepted-task>
      </div>
      <div class="col-12 myBox" *ngIf="dashboard==='all' || dashboard==='offered'">
      <!-- offered task list -->
      <app-mytasks >

      </app-mytasks>
    </div>
    </div>
</div>




