<div class="container-fluid">
  <div id="chartDiv">
    <canvasjs-chart [options]="skillsAvailable" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div id="chartDiv">
    <canvasjs-chart [options]="numberOfTasks" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div id="chartDiv" >
    <canvasjs-chart [options]="test3" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
  <div id="chartDiv">

    <canvasjs-chart [options]="test4" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
</div>

