


.navy{
  background-color: transparent
}
body {
  font-family: Lato, sans-serif;
  margin: 0;
}

#navbarNav {
  width: 100vw;
  font-weight: bold;
}
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
  }

  li a {
    text-decoration: none;
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
  }

  li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: #D2691E;
    bottom: 0em;
    transition: all ease-in-out 250ms;
  }

  li a:hover::after {
    width: 60%;
  }

  li a:hover {
    color: #D2691E;
  }

 .dropdown {
  background-color: transparent;
 }



